.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-container1 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-container2 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 40%;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #333;
}
.home-container3 {
  top: 2%;
  left: 8%;
  width: 100%;
  height: 286px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text {
  color: #ffffffff;
  font-size: 50px;
  align-self: flex-start;
  text-align: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-des {
  color: #ffffff;
  width: 80%;
}
.home-container4 {
  top: 20%;
  right: 1px;
  width: 100%;
  height: 412px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-form {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.home-textarea {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 217px;
  position: absolute;
  margin-top: auto;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: auto;
  vertical-align: top;
  padding: 12px 20px;
  border-radius: 9px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.home-button {
  left: 9%;
  bottom: 30%;
  width: fit-content;
  height: fit-content;
  min-height: 7%;
  position: absolute;
  font-size: 18px;
  padding-left: 1rem;
  border-radius: 10px;
  padding-right: 1rem;
  background-color: #b7c9e2;
}
.home-button1 {
  left: 9%;
  width: fit-content;
  bottom: 10%;
  height: fit-content;
  min-height: 7%;
  position: absolute;
  font-size: 18px;
  border-width: 0px;
  margin-right: 5%;
  border-radius: 10px;
  margin-bottom: 5%;
  background-color: #989898;
}
.home-container5 {
  top: 0;
  right: 0px;
  width: 60%;
  bottom: 0;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.home-container6 {
  flex: 0 0 auto;
  width: 95%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 85%;
  display: flex;
  margin-top: 5%;
  align-items: flex-start;
  margin-left: 2.5%;
}

